<!DOCTYPE html>
<html>

<head>
    <title>burgercat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
</head>

<body>
    {% for post in posts %}
        <div class="burgerpost">
            <img class="burgerimg" src="{{ post['imgurl'] }}">
            <p>{{ post['title'] }}</p>
            <p class="infotext">Posted on {{ post['created'] }} | ID: {{ post['id'] }}</p>
        </div>
    {% endfor %}

</body>
</html>