<!DOCTYPE html>
<html>

<head>
    <title>burgercat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
</head>

<body>
    <div class="burgerpost">
        <h1>Rules when posting</h1>
        <p>1. No adult content, this means no NSFW</p>
        <p>2. Do not post images that can make people feel uncomfortable or uneasy in any way</p>
        <p>3. Do not reupload or repeatedly upload content</p>
        <p>Content that does not follow these rules does not belong here and will be removed from the site</p>
    </div>

    <div class="burgerpost">
        <h1>New Post</h1>
        <p>Read the rules before making a post</p>

        <form action="submitburger.php" method="post">
            Post Name: <input type="text" name="name">
            <br><br>
            Image URL: <input type="text" name="imageurl">
            <br><br>
            <input type="submit">
            <br>
    </div>

</body>

</html>